/* main color of the text #212121 */
/* second color of the text #757575 */
/* accent #2196F3 */
/* white  color #ffffff */
/* dice #2F303A */
/* black color #000000 */
/* accent link rgba(255, 255, 255, 0.6); */



:root{
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --dice-color: #2F303A;
    --white-color: #ffffff;
    --black-color: #000000;
    --accent-link: rgba(255, 255, 255, 0.6);
    --background-button: #F5F4FA;
}




/* BODY */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--primari-text-color);
}

/* all list mark */
.list{
    list-style: none;
}

.link{
    text-decoration: none;
}


/* all section style */
.section-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

/* HEADER STYLE */

/* logo */
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.logo-web{
    color: var(--accent-color);
}

/* navigation */
.navigation{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    
}

.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);

}

.navigation .link.current{
    color: var(--accent-color);
}

.navigation .link{
    color: var(--title-text-color);
}



/* hover and focus for link */
.navigation .link:hover,
.navigation .link:focus,
.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent-color);
}


/* MAIN CONTENT STYLE (index) */

/* hero style */
.hero{
    background-color: var(--dice-color);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color); 
    cursor: pointer;
}

/* buton hero style */

.hero .button{
    border-style: none;
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus{
    background-color: var(--background-button);
    color: var(--title-text-color);
}

/* benefits style */

.benefits .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.benefits .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* what we do style */
.work .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Oure team style */
.team{
    background-color: var(--background-button);
}

.team .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.second-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team .text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primari-text-color);
}

.element {
    background-color: var(--white-color);
}

/* MAIN CONTENT STYLE (portfolio) */

/* button style */
.button{
    border-style: none;
    background-color: var(--background-button);
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: var(--white-color);
}



/* FOOTER STYLE */

.footer{
    background-color: var(--dice-color);
}

/* logo */
.logo-white{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
}

.logo-web{
    color: var(--accent-color);
}
/* footer link style */
.adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer .contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--accent-link);
}

.footer .link:hover,
.footer .link:focus{
    color: var(--accent-color);
}



